/*minifyOnSave, checkOutputFileAlreadyExists: false, checkAlreadyMinifiedFile: false, filenamePattern: $1.min.$2 */
/*:root {
	--fw-size-greating: 10vh;
	--fw-size-year: 30vh;
	--fw-color-greating: rgba(255, 255, 255, 1);
	--fw-color-year: rgba(255, 215, 0, 1);
}*/
/* Merry Christmas used for greating */
@font-face {
	font-family: 'Merry Christmas Flake';
	font-weight: 800;
	font-style: normal;
	src: url(../fonts/MerryChristmas/MerryChristmasFlake.ttf);
	font-display: swap;
}
@font-face {
	font-family: 'Merry Christmas Star';
	font-weight: 800;
	font-style: normal;
	src: url(../fonts/MerryChristmas/MerryChristmasStar.ttf);
	font-display: swap;
}
/* Old Standard used for the year */
@font-face {
	font-family: 'Old Standard TT';
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/OldStandard/OldStandard-Regular.ttf);
	font-display: swap;
}
@font-face {
	font-family: 'Old Standard TT';
	font-weight: 800;
	font-style: normal;
	src: url(../fonts/OldStandard/OldStandard-Bold.ttf);
	font-display: swap;
}
@font-face {
	font-family: 'Old Standard TT';
	font-weight: 400;
	font-style: italic;
	src: url(../fonts/OldStandard/OldStandard-Italic.ttf);
	font-display: swap;
}
canvas#fireworks {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 98;
}
.fw-text {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	top: 0;
	left: 0;
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	z-index: 99;
}
.fw-text > #greating * {
	font-family: 'Merry Christmas Flake', Helvetica, Arial, sans-serif;
	font-weight: 800;
	color: var(--fw-color-greating);
	text-align: center;
	text-shadow: 0.0625em 0.0625em 0.0625em var(--fw-color-greating);
	margin: auto;
}
.fw-text > #greating h2 {
	font-size: calc(0.5rem + var(--fw-size-greating));
}
.fw-text > #greating h3 {
	font-size: calc(var(--fw-size-greating) - 0.5rem);
}
.fw-text > #year {
	font-family: 'Old Standard TT', serif;
	font-size: var(--fw-size-year);
	color: var(--fw-color-year);
	text-shadow: 0.1875em 0.1875em 0.1875em currentColor;
	background: -webkit-gradient(linear, left top, left bottom, from(var(--fw-color-greating)), to(var(--fw-color-year)));
	background: linear-gradient(var(--fw-color-greating), var(--fw-color-year));
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-filter: drop-shadow(0.1875rem 0.1875rem 0.1875rem var(--fw-color-year));
	        filter: drop-shadow(0.1875rem 0.1875rem 0.1875rem var(--fw-color-year));
}
/*body:not(.k-lens-index) canvas#fireworks,
body:not(.k-lens-index) .fw-text {
	display: none;
}
@-webkit-keyframes fadeout {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes fadeout {
	0% {opacity: 1;}
	100% {opacity: 0;}
}*/
